<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "FoucaultPendulum", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/bootstrap.min.css") %>"/>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/custom.css") %>"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/popper.min.js") %>"></script>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/bootstrap.min.js") %>"></script>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/chart.min.js") %>"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>
  <body>
    <div>
      <div class="container">
        <a href="#" class="text-decoration-none">
   <!--       <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
   -->  
        <h1 class="title">Foucault Pendulum </h1>
        <p class="description"> <a href="https://en.wikipedia.org/wiki/Foucault_pendulum" target="_blank"> Foucault Pendulum</a> is in the Pantheon, Paris. <br />
          French physicist Leon Foucault conceived the experiment which is known as "Foucault Pendulum". This experiment shows Earth's rotation. It consists of a 67-meter wire and a 28-kilogram bob. The pendulum did not just swing in a single direction. It rotated clockwise in Paris. If Earth does not rotate, the pendulum has no reason for rotation. However, we can get evidence of Earth's rotation because the pendulum rotated.
        </p>
       </a>
      </div>
    </div>
    <%= @inner_content %>
  </body>
</html>
